.col-sm-3v, .col-sm-4v, .col-sm-5v, .col-sm-6v, .col-sm-7v {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

@media only screen and (max-width: 736px) and (orientation: landscape) {
    
    .col-sm-3v, .col-sm-4v, .col-sm-5v, .col-sm-7v {
        float: left;
    }
    .col-sm-3v {
        width: 24.99999999%;
    }
    .col-sm-4v {
        width: 33.33333333%;
    }
    .col-sm-5v {
        width: 41.66666666%;
    }
    .col-sm-6v {
        width: 49.99999999%;
    }
    .col-sm-7v {
        width: 58.33333333%;
    }
    .container{
        height: auto;
    }
    
    h1 {
        font-size: 22px;
        font-style: bold;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        opacity: 0.8;
    }

    h2 {
        font-size: 15px;
        padding: 0px;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 15px;
    }

    h4 {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    h5 {
        font-size: 10px;
    }
    
    img {
        height: 185px;
        width: 150px;
        
        padding: 0px;
        }

    li {
        font-size: 12px;
        padding: 5px;
    }
    
    /*-----------------------------INTRO--------------------------------*/
    
    #one {
        background-image: url(/img/cv-intro.jpg);
        background-position:50% 50%;
        height: 100vh;

    }
    
    #contactInfo .contact {
        font-size: 10px;
    }
    
    #github {
        display: none;
    }
    
    #location {
        display: none;
    }
    
    #title{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 40px;
    }

    #title h2 {
        font-size: 13px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #sinopsis {
        margin-top: 30px;
        font-size: 14px;
    }

    #intro_switch {
        margin-top: 190px;
        margin-left: -12px;
    }

    #firstPageDown {
        margin-top: 230px;
        margin-left: -8px
    }
    /*---------------------------PROJECTS----------------------------*/
    
    #workExperience .container {
        height: 100vh;
    }
    
    #jobtitle {
        padding: 0px;
    }
    
    .jobDataR h3 {
        padding-top: 0px;
    }
    .jobDataL h3 {
        padding-top: 0px;
    }

    .jobDataR li {
        font-size: 12px;
        padding-bottom: 0px;
    }

    .jobDataL li {
        font-size: 12px;
        padding-bottom: 0px;
    }

    #jobImg1 {
        margin-top: 10px;
        margin-left: 5px;
           
    }

    #jobData1 {
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        opacity: 1;
        background-color: #018E89;

    }
    
    #secondPageDown {
        margin-top: -20px;
        margin-left: -3px;
    }

    #job2 {
        padding-top: 40px;
        background-color: #C9F3F3;

    }

    #jobImg2 {
        margin-left: 20px
    }

    #jobData2 {
        margin-left: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        opacity: 1;
        background-color: #055C58;

    }

    #job3 {
        padding-top: 40px;

    }
    
    /*--------------------------SKILLS - Section Three---------------------------------*/
    
    #skillsTitle {
        font-size: 30px;
        padding: 10px;
        font-style: bold;
        font-variant: normal;
        font-weight: 500;
        color: #018E89;
    }

        .charts {
        background-color: #018E89;
        padding-bottom: 20px;
        color: white;
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    /*--------------------------INFORMATION - Section Four------------------------------------*/

    

    

    .bootPadEdu {
        margin-left: -50px   
    }

    .edBtn {
        margin-left: 29px;
    }

    .info {
        margin: 15px;
        border: 1px solid #018E89 ;
        border-radius: 20px;
        background-color: #018E89 ;
        color: white;
        }

    #education {
        height: inherit;
        margin-left: 50px;
    }

    #interest {
        margin-right: 15px;
        margin-left: 50px;
        margin-top: 0px;
        background-color: #055C58;
    }

    #interest p {
        padding: 40px;
        font-size: 16px;
    }

    #achievements {
        margin-left: 50px;
        height: inherit;
        background-color: #055C58;
    }

    #languages {
        margin-left: 50px;
        margin-top: 0px;
    }

    #five {
        display: none;
    }

    
}