*{
    margin: 0px;
}
body{
    background-color: #6F90A2;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.container {
    width: 100%;
    height: 730px;
    
}

.row {
    height: 365px;
}

/*Intro - Section One*/

h1 {
	font-size: 55px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    opacity: 0.8;
}

#one {
    background-image: url(/img/cv-intro_bnw.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 730px;
}

#bio{
    background-color: transparent;
    height: 730px;
    text-align: center;
    color: white;
}

.contact {
    padding: 7px;
    font-size: 15px;
    text-align: center;
}

#contactInfo {
    height: 40px;
    color: transparent;
}

#title{
    position: absolute;
    margin-top: 220px;
}

#sinopsis {
    position: absolute;
    margin-top: 220px;
    display: none;    
}

#intro_switch {
    margin-top: 400px;
    position: absolute;
    color: white;
}

.switch .icon-on {
    display: none;
}


/*Work Experience - Section Two*/

#workExperience{
    background-color: #6F90A2;
    height: 400px;
    color: #032436;
    text-align: center;
    
}

#two {
    background-color: saddlebrown;
}
#skills {
    background-color: red;
    height: inherit;
}

#achievements {
    background-color: blueviolet;
    height: inherit;
}

#three {
    background-color: green;
}

#education {
    background-color: black;
    height: inherit;
}

#languagues {
    background-color: white;
    height: 365px;
}

#interest {
    background-color: purple;
    height: 365px;   
}

/*Pallete

 As hex codes 

.color-primary-0 { color: #28546C }	/ Main Primary color /
.color-primary-1 { color: #6F90A2 }
.color-primary-2 { color: #477187 }
.color-primary-3 { color: #113B51 }
.color-primary-4 { color: #032436 }*/